@model IndexInmuebleViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row fw-light bg-light rounded-4 py-5 px-4 shadow">

    <div class="col-12">
        <h1 class="display-4 ">Inmuebles</h1>
        <a asp-action="Upsert" class="btn btn-primary text-light hover rounded-pill m-2 p-3"
            title="Agregar un nuevo Propietario">
            <p class="d-inline">Agregar nuevo Propietario</p><i class="bi bi-person-add ps-1"></i>
        </a>

        @Html.Partial("_ToastModal")
    </div>

    @if (Model.Inmuebles != null && Model.Inmuebles.Any())
    {
        <div class="col">
            <div class="table-responsive-lg">
                <table class="table table-light text-start ">
                    <thead class="text-secondary">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Inmuebles.FirstOrDefault().Direccion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Inmuebles.FirstOrDefault().Ambientes)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Inmuebles.FirstOrDefault().Latitud)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Inmuebles.FirstOrDefault().Longitud)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Inmuebles.FirstOrDefault().Superficie)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Inmuebles.FirstOrDefault().IdPropietario)
                            </th>
                            <th class="text-end">
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Inmuebles)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ambientes)
                                </td>
                                <td>
                                    @item.Latitud.ToString("0.000000")
                                </td>
                                <td>
                                    @item.Longitud.ToString("0.000000")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Superficie)
                                </td>
                                <td>
                                    @(item.Duenio.Nombre + " " + item.Duenio.Apellido)
                                </td>
                                <td class="text-nowrap text-end">
                                    <button type="button" class="btn btn-info py-1 px-2" data-bs-toggle="modal"
                                        data-bs-target="#inmuebleModal" onclick="loadInmuebleDetails(@item.IdInmueble)">
                                        <i class="bi bi-person-vcard-fill text-light"></i>
                                    </button>
                                    <a asp-action="Upsert" asp-route-id="@item.IdInmueble" title="Editar"
                                        class="btn btn-primary py-1 px-2"><i class="bi bi-pencil-fill text-light"></i></a>
                                    <a asp-action="Eliminar" asp-route-id="@item.IdInmueble" title="Eliminar"
                                        class="btn btn-danger py-1 px-2"><i class="bi bi-trash-fill text-light"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="col">
                <a class="btn btn-primary" asp-action="Index" title="Página anterior"
                    asp-route-pageNumber="@(Model.PageNumber-1)">
                    <i class="bi bi-arrow-left"></i>
                </a>
                <a class="btn btn-primary" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber+1)">
                    Siguiente <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            No hay Inmuebles disponibles.
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="inmuebleModal" tabindex="-1" aria-labelledby="inmuebleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inmuebleModalLabel">Detalles del Inmueble</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Dirección:</strong> <span id="modalDireccion"></span></p>
                <p><strong>Ambientes:</strong> <span id="modalAmbientes"></span></p>
                <p><strong>Latitud:</strong> <span id="modalLatitud"></span></p>
                <p><strong>Longitud:</strong> <span id="modalLongitud"></span></p>
                <p><strong>Superficie:</strong> <span id="modalSuperficie"></span></p>
                <p><strong>Propietario:</strong> <span id="modalPropietario"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function loadInmuebleDetails(idInmueble) {
            console.log("El id es " + idInmueble);

            $.ajax({
                url: '@Url.Action("InmuebleDetalles", "Inmueble")',
                type: 'GET',
                data: { id: idInmueble },
                success: function (response) {
                    if (response.success) {
                        const data = response.data;



                        $('#modalDireccion').text(data.direccion);
                        $('#modalAmbientes').text(data.ambientes);
                        $('#modalLatitud').text(data.latitud);
                        $('#modalLongitud').text(data.longitud);
                        $('#modalSuperficie').text(data.superficie);
                        $('#modalPropietario').text(data.propietarioNombre);


                        $('#inmuebleModal').modal('show');
                        console.log(response);
                        console.log(data)
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Ocurrió un error al obtener los detalles del inmueble.');
                }
            });
        }
    </script>
}
