@model UpsertInmuebleViewModel

@{
    ViewData["Title"] = "Inmuebles";
    int id = Model.Inmueble == null ? 0 : Model.Inmueble.IdInmueble;
}

<div class="text-center row fw-light bg-light rounded-4 py-5 px-4 shadow">
    <div class="col">
        <h1 class="display-4">Inmuebles</h1>
        <h4>@Model.Tittle</h4>
    </div>

    <div class="col-md-12 col-lg-6">
        <div class="col-lg-8">
            <form asp-action="Guardar" method="post" class="text-start" id="myForm">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <input type="hidden" asp-for="Inmueble.IdInmueble" class="form-control" readonly>
                </div>

                <div class="form-group">
                    <label asp-for="Inmueble.Direccion" class="control-label"></label>
                    <input asp-for="Inmueble.Direccion" class="form-control" id="direccion">
                    <span asp-validation-for="Inmueble.Direccion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Inmueble.Ambientes" class="control-label"></label>
                    <input asp-for="Inmueble.Ambientes" class="form-control" id="ambientes">
                    <span asp-validation-for="Inmueble.Ambientes" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Inmueble.Latitud" class="control-label"></label>
                    <input asp-for="Inmueble.Latitud" class="form-control" id="latitud" type="number" step="any">
                    <span asp-validation-for="Inmueble.Latitud" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Inmueble.Longitud" class="control-label"></label>
                    <input asp-for="Inmueble.Longitud" class="form-control" id="longitud" type="number" step="any">
                    <span asp-validation-for="Inmueble.Longitud" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Inmueble.Superficie" class="control-label"></label>
                    <input asp-for="Inmueble.Superficie" class="form-control" id="superficie">
                    <span asp-validation-for="Inmueble.Superficie" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Inmueble.Precio" class="control-label"></label>
                    <input asp-for="Inmueble.Precio" class="form-control" id="precio">
                    <span asp-validation-for="Inmueble.Precio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Inmueble.Uso" class="control-label"></label>
                    <select asp-for="Inmueble.Uso" class="form-select" name="inmueble.Uso">
                        <option value="Comercial">Comercial</option>
                        <option value="Residencial">Residencial</option>
                    </select>
                    <span asp-validation-for="Inmueble.Uso" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Inmueble.IdTipoInmueble" class="control-label">Tipo de inmueble</label>
                    <div class="d-flex align-items-center">
                        <select asp-for="Inmueble.IdTipoInmueble" class="form-select me-2" id="tipoInmuebleSelect">
                            @foreach (var item in ViewBag.TipoInmuebles)
                            {
                                <option value="@item.IdTipoInmueble">@item.Tipo</option>
                            }
                        </select>
                        <button type="button" class="btn btn-danger btn-sm" id="removeTipoInmueble">x</button>
                    </div>
                    <span asp-validation-for="Inmueble.IdTipoInmueble" class="text-danger"></span>
                </div>

                <!-- Botón para agregar un nuevo tipo de inmueble que abre el modal -->
                <div class="form-group">
                    <a href="#" id="addTipoInmueble" class="text-primary" data-bs-toggle="modal"
                        data-bs-target="#addTipoInmuebleModal">+ Agregar tipo inmueble</a>
                </div>

                <!-- Modal para agregar tipo de inmueble -->
                <div class="modal fade" id="addTipoInmuebleModal" tabindex="-1"
                    aria-labelledby="addTipoInmuebleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addTipoInmuebleModalLabel">Agregar Tipo de Inmueble</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nuevoTipoInmueble">Nuevo Tipo de Inmueble</label>
                                    <input type="text" id="nuevoTipoInmueble" class="form-control"
                                        placeholder="Ingrese el nuevo tipo de inmueble">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary" id="saveTipoInmueble">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Inmueble.IdPropietario" class="control-label">Nombre del propietario</label>
                    <select asp-for="Inmueble.IdPropietario" class="form-select" name="inmueble.IdPropietario">
                        @foreach (var item in ViewBag.Propietarios)
                        {
                            <option value="@item.IdPropietario">@item.Nombre @item.Apellido</option>
                        }
                    </select>
                    <span asp-validation-for="Inmueble.IdPropietario" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary m-2">
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {


    <script>
        document.getElementById('removeTipoInmueble').addEventListener('click', function () {
            var select = document.getElementById('tipoInmuebleSelect');
            var selectedOption = select.options[select.selectedIndex];
            var IdTipoInmueble = selectedOption.value;

            if (selectedOption) {
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "¡No podrás revertir esto!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, eliminarlo'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Hacer la petición al controlador para eliminar
                        fetch(`/Inmueble/DeleteTipoInmueble/${IdTipoInmueble}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value // Añadir token antifalsificación si es necesario
                            }
                        }).then(response => {
                            if (response.ok) {
                                select.remove(select.selectedIndex);
                                Swal.fire(
                                    'Eliminado',
                                    'El tipo de inmueble ha sido eliminado.',
                                    'success'
                                );
                            } else {
                                Swal.fire('Error', 'No se pudo eliminar el tipo de inmueble.', 'error');
                            }
                        }).catch(error => {
                            Swal.fire('Error', 'Hubo un problema al eliminar el tipo de inmueble.', 'error');
                        });
                    }
                });
            } else {
                Swal.fire('Error', 'Por favor selecciona un tipo de inmueble para eliminar.', 'error');
            }
        });

        document.getElementById('saveTipoInmueble').addEventListener('click', function () {
            var nuevoTipo = document.getElementById('nuevoTipoInmueble').value;
            console.log("Nuevo tipo:", nuevoTipo); // Para verificar si el valor está llegando correctamente

            if (nuevoTipo) {

                fetch('/Inmueble/AddTipoInmueble', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ nuevoTipo: nuevoTipo })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Agregar la nueva opción al select
                            var select = document.getElementById('tipoInmuebleSelect');
                            var option = document.createElement('option');
                            option.text = nuevoTipo;
                            option.value = data.id; // Asignar el ID del nuevo tipo de inmueble
                            select.add(option);
                            select.value = option.value;

                            // Cerrar el modal
                            var modal = bootstrap.Modal.getInstance(document.getElementById('addTipoInmuebleModal'));
                            modal.hide();

                            // Notificación de éxito
                            Swal.fire('Guardado', 'El nuevo tipo de inmueble ha sido agregado.', 'success');
                        } else {
                            Swal.fire('Error', data.message, 'error');
                        }
                    })
                    .catch(error => {
                        Swal.fire('Error', 'Hubo un problema al agregar el tipo de inmueble.', 'error');
                    });
            } else {
                Swal.fire('Error', 'Por favor ingrese un tipo de inmueble.', 'error');
            }
        });
    </script>
}