@model UpsertInmuebleViewModel

@{
    ViewData["Title"] = "Home Page";
    int id = Model.Inmueble == null ? 0 : Model.Inmueble.IdInmueble;
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 bg-white rounded p-6">
            <h1 class="display-4">Inmuebles</h1>
            <h4>@Model.Tittle</h4>
            <form asp-action="Guardar" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="Inmueble.IdInmueble" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Inmueble.Direccion" class="control-label"></label>
                    <input asp-for="Inmueble.Direccion" class="form-control">
                    <span asp-validation-for="Inmueble.Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inmueble.Ambientes" class="control-label"></label>
                    <input asp-for="Inmueble.Ambientes" class="form-control">
                    <span asp-validation-for="Inmueble.Ambientes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inmueble.Latitud" class="control-label"></label>
                    <input asp-for="Inmueble.Latitud" class="form-control">
                    <span asp-validation-for="Inmueble.Latitud" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inmueble.Longitud" class="control-label"></label>
                    <input asp-for="Inmueble.Longitud" class="form-control">
                    <span asp-validation-for="Inmueble.Longitud" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inmueble.Superficie" class="control-label"></label>
                    <input asp-for="Inmueble.Superficie" class="form-control">
                    <span asp-validation-for="Inmueble.Superficie" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inmueble.IdPropietario" class="control-label">Nombre del propietario</label>
                    <select asp-for="Inmueble.IdPropietario" class="form-select" name="inmueble.IdPropietario">
                        @foreach (var item in ViewBag.Propietarios)
                        {
                            @if (Model.Inmueble != null && Model.Inmueble.Duenio != null && Model.Inmueble.Duenio.Nombre ==
                           item.Nombre)
                            {
                                <option selected value="@item.IdPropietario">@item.Nombre @item.Apellido</option>
                            }
                            else
                            {
                                <option value="@item.IdPropietario">@(item.Nombre) @(item.Apellido)</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Inmueble.IdPropietario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary m-2">
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
