@model IndexInquilinoViewModel;
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center row fw-light bg-light rounded-4 py-5 px-4 shadow">

    <div class="col-12">
        <h1 class="display-4 ">Inquilinos</h1>
        <partial name="_ToastModal"/>
        
        <a asp-action="Upsert" class="btn btn-primary text-light hover rounded-pill m-2 p-3"
            title="Agregar un nuevo Inquilino">
            <p class="d-inline">Agregar nuevo Inquilino</p><i class="bi bi-person-add ps-1"></i>
        </a>
    </div>
    <div class="col">
        <div class="table-responsive-lg">
            <table class="table table-light text-start ">
                <thead class="text-secondary">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Inquilinos.FirstOrDefault().Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Inquilinos.FirstOrDefault().Apellido)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Inquilinos.FirstOrDefault().Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Inquilinos.FirstOrDefault().Telefono)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Inquilinos.FirstOrDefault().Dni)
                        </th>
                        <th class="text-end">
                            Acciones
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @if (ViewData["TablaVacia"] != null && ViewData["TablaVacia"] != ""){
                        <text>
                            <tr scope="row">
                            <td colspan="6" class="text-center">@ViewData["TablaVacia"]</td>
                            </tr>
                        </text>
                    }
                    @foreach (var item in Model.Inquilinos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dni)
                            </td>
                            <td class="text-nowrap text-end">
                                <a asp-action="DetalleInquilino" asp-route-id="@item.Id" title="Ver más"
                                    class="btn btn-info py-1 px-2"><i class="bi bi-person-vcard-fill text-light"></i></a>
                                <a asp-action="Upsert" asp-route-id="@item.Id" title="Editar"
                                    class="btn btn-primary py-1 px-2"><i class="bi bi-pencil-fill text-light"></i></a>
                                <a asp-action="Eliminar" asp-route-id="@item.Id" title="Eliminar"
                                    class="btn btn-danger py-1 px-2"><i class="bi bi-trash-fill text-light"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
                
            </table>
        </div>

        <div class="col">
            <partial name="_Pagination"/>
        </div>

    </div>




    @section Scripts {
        @{
            if (Model != null && Model.ToastMessage != null)
            {
                <text>
                    <script>
                        $(document).ready(function () {

                            var toastMessage = "@Model.ToastMessage";
                            if (toastMessage) {
                                $("#toastMessage").text(toastMessage);
                                $("#liveToast").toast("show");
                            }

                        })
                    </script>
                </text>
            }
        }

    }

</div>
