@model IndexInquilinoViewModel;
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center row fw-light bg-light rounded-4 py-5 px-4 shadow">

    <div class="col-12">
        <h1 class="display-4 ">Inquilinos</h1>
        <partial name="_ToastModal" />

        <a asp-action="Upsert" class="btn btn-primary text-light hover rounded-pill mb-3 p-3"
            title="Agregar un nuevo Inquilino">
            <p class="d-inline">Agregar nuevo Inquilino</p><i class="bi bi-person-add ps-1"></i>
        </a>
    </div>
    <div class="col">
        <div class="table-responsive-lg">
            <table class="table table-light text-start ">
                <thead class="text-secondary">
                    <tr>
                        <td class="d-lg-none"></td>
                        <th>
                            @Html.DisplayNameFor(model => model.Inquilinos.FirstOrDefault().Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Inquilinos.FirstOrDefault().Apellido)
                        </th>
                        <th class="d-none d-lg-table-cell">
                            @Html.DisplayNameFor(model => model.Inquilinos.FirstOrDefault().Email)
                        </th>
                        <th class="d-none d-lg-table-cell">
                            @Html.DisplayNameFor(model => model.Inquilinos.FirstOrDefault().Telefono)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Inquilinos.FirstOrDefault().Dni)
                        </th>
                        <th class="text-end">
                            Acciones
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @if (ViewData["TablaVacia"] != null && ViewData["TablaVacia"] != "")
                    {
                        <text>
                            <tr scope="row">
                                <td colspan="6" class="text-center">@ViewData["TablaVacia"]</td>
                            </tr>
                        </text>
                    }
                    @foreach (var item in Model.Inquilinos)
                    {
                        <tr>
                            <td class="d-lg-none">
                                <button class="btn" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collaps-@item.Id" aria-expanded="false" aria-controls="collapse"
                                    title="Ver contenido oculto"><i class="bi bi-caret-down-fill"></i></button>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellido)
                            </td>
                            <td class="d-none d-lg-table-cell">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td class="d-none d-lg-table-cell">
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dni)
                            </td>
                            <td class="text-nowrap text-end">
                                <a asp-action="RenderDetalleInquilino" asp-route-id="@item.Id"
                                    title="Ver detalles completos" class="btn btn-info py-1 px-2"><i
                                        class="bi bi-person-vcard-fill text-light"></i></a>
                                <a asp-action="Upsert" asp-route-id="@item.Id" title="Editar"
                                    class="btn btn-primary py-1 px-2"><i class="bi bi-pencil-fill text-light"></i></a>

                                @if (!Model.EsEmpleado)
                                {
                                    <a asp-action="RenderDetalleInquilino" asp-route-id="@item.Id"
                                        asp-route-eliminateFlag="@true" title="Eliminar" class="btn btn-danger py-1 px-2"><i
                                            class="bi bi-trash-fill text-light"></i></a>
                                }
                            </td>
                        </tr>
                        <tr class="d-lg-none">
                            <td colspan="5" class="p-0">
                                <div class="collapse d-lg-none" id="collaps-@item.Id">
                                    <p>@Html.DisplayNameFor(model => model.Inquilinos.FirstOrDefault().Telefono) :
                                        @Html.DisplayFor(modelItem => item.Telefono)</p>
                                    <p>@Html.DisplayNameFor(model => model.Inquilinos.FirstOrDefault().Email) :
                                        @Html.DisplayFor(modelItem => item.Email)</p>
                                </div>
                            </td>
                        </tr>

                    }
                </tbody>

            </table>
        </div>

        <div class="col">
            <partial name="_Pagination" />
        </div>

    </div>




    @section Scripts {
        @{
            if (Model != null && Model.ToastMessage != null)
            {
                <text>
                    <script>
                        $(document).ready(function () {

                            var toastMessage = "@Model.ToastMessage";
                            if (toastMessage) {
                                $("#toastMessage").text(toastMessage);
                                $("#liveToast").toast("show");
                            }

                        })
                    </script>
                </text>
            }
        }

    }

</div>
